<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rx" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.rx.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/rx"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rx.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.basic.RxAndroidPart1" />
        <activity android:name=".activity.basic.RxAndroidPart2UsingAction1" />
        <activity android:name=".activity.basic.RxAndroidPart3UsingLambda" />
        <activity android:name=".activity.basic.RxAndroidPart4UsingChaining" />
        <activity android:name=".activity.lifecycle.LeakingActivity" />
        <activity android:name=".activity.lifecycle.LifecycleActivity" />
        <activity android:name=".activity.operators.O1Map" />
        <activity android:name=".activity.operators.O2MapEmitingDiffrentType" />
        <activity android:name=".activity.operators.O3From" />
        <activity android:name=".activity.operators.O4Buffers" />
        <activity android:name=".activity.operators.O5Debounce" />
    </application>

</manifest>
